/* スタンプカード全体のスタイル */
.stamp-card-main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ユーザー名のスタイル */
.stamp-card h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* スタンプ数のスタイル */
.stamp-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* スタンプカード画像のスタイル */
.stamp-card-image {
  width: 100%;
  display: block;
}

/* スタンプ画像のスタイル */
.stamp-image {
  width: 80px;
  height: 80px;
  position: absolute;
}

/* 各スタンプの位置を個別に指定 */
#stamp-1 { top: 257px; left: 412px; }
#stamp-2 { top: 257px; left: 505px; }
#stamp-3 { top: 257px; left: 599px; }
#stamp-4 { top: 257px; left: 692px; }
#stamp-5 { top: 257px; left: 785px; }
#stamp-6 { top: 338px; left: 412px; }
#stamp-7 { top: 338px; left: 505px; }
#stamp-8 { top: 338px; left: 599px; }
#stamp-9 { top: 338px; left: 692px; }
#stamp-10 { top: 338px; left: 785px; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.redeem-drink {
  width: 500px;
}