<%= render "shared/header" %>
<div class="main">
  <div class="button-container">
    <button onclick="startCamera()">カメラを起動</button>
    <button onclick="viewStampCard()">ポイントカードを確認</button>
  </div>
</div>