<%= render "shared/header" %>

<div class="stamp-card-container">
  <h1>ポイントカード</h1>
  <p>スタンプ数：<%= @stampcard.total_stamps %></p>

  <div class="stamp-card">
    <%= image_tag "stamp-card", alt: "スタンプカード", class: "stamp-card-image" %>
    <div class="stamps">
      <% @stamps.each_with_index do |stamp, index| %>
        <%= image_tag "stamp.png", alt: "スタンプ", class: "stamp-image", id: "stamp-#{index + 1}" %>
      <% end %>
    </div>
  </div>
</div>